# Data Storage in Database

### Import Libraries

In [16]:
# Libraries
import os
import mysql.connector
import fnmatch
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Ignore warnings
import warnings
warnings.filterwarnings("ignore")

# Funktion, um eine MySQL-Verbindung zu prüfen
def check_conn(conn):
    try:
        conn.cursor()
        return True
    except Exception as ex:
        return False

# Aktuelles Arbeitsverzeichnis abrufen
print("Aktuelles Verzeichnis:", os.getcwd())

Aktuelles Verzeichnis: c:\DataAnalytics\DataAnalyticsLN\Data Storage in Database

## MySQL-Connection

In [17]:
# MySQL-Verbindung herstellen
conn = mysql.connector.connect(
    host="localhost",  # Nur den Hostnamen angeben
    port=3306,         # Port separat definieren
    user="root",
    password="Leylaxanampuc1.",
    database="refugees"
)
cursor = conn.cursor()

# Verbindung prüfen
if check_conn(conn):
    print("Verbindung erfolgreich hergestellt!")
else:
    print("Verbindung fehlgeschlagen.")

Verbindung erfolgreich hergestellt!

## Create Tables

### Create refugee_gdp_data Table

In [1]:
# Tabelle refugee_gdp_data erstellen
cursor.execute('''
CREATE TABLE IF NOT EXISTS refugee_gdp_data (
    year INT,
    country_name VARCHAR(200),
    gdp DECIMAL(20,2),
    total_refugees DECIMAL(15,2),
    coo_name VARCHAR(200),
    total DECIMAL(15,2),
    male_female_ratio DECIMAL(10,2)
)
''')
conn.commit()

NameError: name 'cursor' is not defined

### Create refugee_detailed_data Table

In [19]:
# Tabelle refugee_detailed_data erstellen
cursor.execute('''
CREATE TABLE IF NOT EXISTS refugee_detailed_data (
    year INT,
    coo_id INT,
    coa_id INT,
    coo_name VARCHAR(200),
    coa_name VARCHAR(200),
    coo VARCHAR(3),
    coa VARCHAR(3),
    coo_iso VARCHAR(3),
    coa_iso VARCHAR(3),
    f_0_4 INT,
    f_5_11 INT,
    f_12_17 INT,
    f_18_59 INT,
    f_60 INT,
    f_other INT,
    f_total INT,
    m_0_4 INT,
    m_5_11 INT,
    m_12_17 INT,
    m_18_59 INT,
    m_60 INT,
    m_other INT,
    m_total INT,
    total INT
)
''')
conn.commit()
print("Tabelle refugee_detailed_data erstellt")

Tabelle refugee_detailed_data erstellt

## Load and check Data

In [20]:
# CSV-Dateien laden
df_gdp = pd.read_csv('refugee_data_and_gdp.csv')
df_detailed = pd.read_csv('unhcr_refugee_detailed_data.csv')

# Daten anzeigen
print("Daten aus refugee_data_and_gdp.csv:")
print(df_gdp.head())

print("\nDaten aus unhcr_refugee_detailed_data.csv:")
print(df_detailed.head())

Daten aus refugee_data_and_gdp.csv:
   year country_name           gdp  total_refugees                coo_name  \
0  2001       France  1.370377e+12          6036.0             Afghanistan
1  2001       France  1.370377e+12          6036.0        Syrian Arab Rep.
2  2001       France  1.370377e+12          6036.0  Iran (Islamic Rep. of)
3  2001       France  1.370377e+12          6036.0                    Iraq
4  2001       France  1.370377e+12          6036.0                 Ukraine

    total  male_female_ratio
0  1284.0           1.221453
1   192.0           2.918367
2  1987.0           1.806497
3  1629.0           1.291139
4   407.0           1.014851

Daten aus unhcr_refugee_detailed_data.csv:
   year  coo_id  coa_id     coo_name                  coa_name  coo  coa  \
0  2001       2     202  Afghanistan  United States of America  AFG  USA
1  2002       2     202  Afghanistan  United States of America  AFG  USA
2  2003       2     202  Afghanistan  United States of America  AFG  USA
3  2004       2     202  Afghanistan  United States of America  AFG  USA
4  2005       2     202  Afghanistan  United States of America  AFG  USA

  coo_iso coa_iso  f_0_4  ...  f_other  f_total  m_0_4  m_5_11  m_12_17  \
0     AFG     USA      0  ...        0        0      0       0        0
1     AFG     USA      0  ...        0        0      0       0        0
2     AFG     USA      0  ...        0        0      0       0        0
3     AFG     USA      0  ...        0        0      0       0        0
4     AFG     USA      0  ...        0        0      0       0        0

   m_18_59  m_60  m_other  m_total  total
0        0     0        0        0   7756
1        0     0        0        0   9227
2        0     0        0        0   9821
3        0     0        0        0   9923
4        0     0        0        0   8931

[5 rows x 24 columns]

## Insert Data into Database

### Insert refugee_gpd_data into Table

In [21]:
for _, row in df_gdp.iterrows():
    cursor.execute('''
    INSERT INTO refugee_gdp_data (year, country_name, gdp, total_refugees, coo_name, total, male_female_ratio)
    VALUES (%s, %s, %s, %s, %s, %s, %s)
    ''', (
        row['year'],
        row['country_name'],
        row['gdp'],
        row['total_refugees'],
        row['coo_name'],
        row['total'],
        row['male_female_ratio']
    ))
conn.commit()
print("Daten in refugee_gdp_data eingefügt")

DataError: 1264 (22003): Out of range value for column 'gdp' at row 1

### Insert refugee_detailed_data into Table

In [ ]:
# Daten in refugee_detailed_data einfügen
for _, row in df_detailed.iterrows():
    cursor.execute('''
    INSERT INTO refugee_detailed_data (
        year, coo_id, coa_id, coo_name, coa_name, coo, coa, coo_iso, coa_iso,
        f_0_4, f_5_11, f_12_17, f_18_59, f_60, f_other, f_total,
        m_0_4, m_5_11, m_12_17, m_18_59, m_60, m_other, m_total, total
    )
    VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s,
            %s, %s, %s, %s, %s, %s, %s, %s)
    ''', (
        row['year'],
        row['coo_id'],
        row['coa_id'],
        row['coo_name'],
        row['coa_name'],
        row['coo'],
        row['coa'],
        row['coo_iso'],
        row['coa_iso'],
        row['f_0_4'],
        row['f_5_11'],
        row['f_12_17'],
        row['f_18_59'],
        row['f_60'],
        row['f_other'],
        row['f_total'],
        row['m_0_4'],
        row['m_5_11'],
        row['m_12_17'],
        row['m_18_59'],
        row['m_60'],
        row['m_other'],
        row['m_total'],
        row['total']
    ))
conn.commit()
print("Daten in refugee_detailed_data eingefügt")

## Get Data from MySQL

In [ ]:
# Daten aus refugee_gdp_data abfragen
cursor.execute("SELECT * FROM refugee_gdp_data LIMIT 5")
print("Daten aus refugee_gdp_data:")
for row in cursor.fetchall():
    print(row)

# Daten aus refugee_detailed_data abfragen
cursor.execute("SELECT * FROM refugee_detailed_data LIMIT 5")
print("\nDaten aus refugee_detailed_data:")
for row in cursor.fetchall():
    print(row)

## Close Connection

In [ ]:
# Verbindung schließen
cursor.close()
conn.close()
print("Verbindung geschlossen")